@import "custom"
@import "~bootstrap/scss/bootstrap"

$body-color-dark: #ccc

// GENERAL

.btn-primary
  background: $body-color
  color: $body-bg
  border: none
  padding: 1rem
  margin-bottom: 1rem
  &:hover
    border: none
    background: $body-color-dark
    color: $body-bg
    cursor: pointer

h1
  padding-bottom: 2rem
  background: $body-bg

h2
  padding: 1rem

#background
  background: $body-bg

ul
  list-style-type: none

a
  color: $body-color
  &:hover
    color: $body-color-dark
    text-decoration: none
  &:focus
    color: $body-color-dark
    text-decoration: none

.interface
  position: fixed
  left: 0
  right: 0
  padding: 1rem
  background: $body-bg
  z-index: 10
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &.bottom
    bottom: 0
    border-top: 1px solid $body-color
  &.top
    top: 0
    border-bottom: 1px solid $body-color

.hidden
  display: none

// LAYOUT

nav
  padding: 0 50px
  li
    padding: 10px 20px

// FLIPPER

.board
  padding: 2rem 0 16rem 0
  flex-basis: auto
  justify-content: center

// CELL

.cell
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: $body-bg
  border: 1px solid $body-color
  &:hover
    cursor: pointer
  &.back
    color: $body-bg
    background: $body-color

// HOME

#home-page
  position: relative
  #distracting-overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    .distractor
      cursor: move
      display: inline-block
      background: $body-color
      color: $body-bg
      padding: 1.5rem
      z-index: 3
  .home
    z-index: 2

// RMS

.bucket
  min-height: 110px
  padding: 1.5rem
  flex-grow: 1
  background: $body-color
  margin-bottom: 1.5rem

.stone
  min-width: 30px
  min-height: 30px
  border-radius: 50%
  background: $body-bg

.ugg
  padding: 0.5rem
  flex-grow: 1
  background: $body-color
  &:hover
    cursor: pointer
  .uggs-stones
    background: $body-bg
