@import "custom"
@import "~bootstrap/scss/bootstrap"

$body-color-dark: #ccc

// GENERAL

.btn-primary
  background: $body-color
  color: $body-bg
  border: none
  padding: 1rem
  margin-bottom: 1rem
  &:hover
    border: none
    background: $body-color-dark
    color: $body-bg
    cursor: pointer

h1
  padding-bottom: 2rem
  background: $body-bg

h2
  padding: 1rem

#background
  background: $body-bg

ul
  list-style-type: none

a
  color: $body-color
  &:hover
    color: $body-color-dark
    text-decoration: none
  &:focus
    color: $body-color-dark
    text-decoration: none

.interface
  position: fixed
  left: 0
  right: 0
  padding: 1rem
  background: $body-bg
  z-index: 10
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &.bottom
    bottom: 0
    border-top: 1px solid $body-color
  &.top
    top: 0
    border-bottom: 1px solid $body-color

.hidden
  display: none

.overlay
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

.position-relative
  position: relative

// LAYOUT

nav
  padding: 0 50px
  li
    padding: 10px 20px

// FLIPPER

.board
  padding: 2rem 0 16rem 0
  flex-basis: auto
  justify-content: center

// CELL

.cell
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: $body-bg
  border: 1px solid $body-color
  &:hover
    cursor: pointer
  &.back
    color: $body-bg
    background: $body-color

// HOME

#home-page
  position: relative
  #distracting-overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    .distractor
      cursor: move
      display: inline-block
      background: $body-color
      color: $body-bg
      padding: 1.5rem
      z-index: 3
  .home
    z-index: 2

// RM

.register-machine
  max-width: 100vw

.command-list
  margin-bottom: 6rem
.buckets
  margin-bottom: 10rem

.commands,
.executor
  max-height: 65vh
  overflow-y: scroll


// EXECUTOR

.bucket
  min-height: 150px
  padding: 1.5rem
  flex-grow: 1
  border-bottom: 3px solid $body-color
  border-left: 3px solid $body-color
  border-right: 3px solid $body-color
  margin-bottom: 1.5rem

.stone
  border-radius: 50%
  background: $body-color

.ugg
  min-height: 8rem
  border: 3px solid $body-color
  position: relative
  top: 10px
  p
    padding: 0
  &:hover
    cursor: pointer
  .uggs-sack
    z-index: 10
    background: $body-color
    color: $body-bg
  .uggs-stone
    z-index: 5

// PROGRAM

.command
  padding: 1rem
  &:hover
    cursor: pointer
    background: $body-color
    color: $body-bg

.command-id
  font-size: 1.2rem
  padding-right: 1rem
